:root {
    --color-primary: #003863;
    --color-primary-hover: #148eda;
    --color-white: #fff;
    --color-black: #000;

    --bdrs: 10px;
    --bdrs-xxs: 7px;
    --bdrs-sm: 8px;
    --bdrs-lg: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

ul {
    list-style: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}